body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 2em;
}
main {
    flex: 1;
}

label {
    display: block;
    padding: 0.6em 0;
}

.error {
    position: absolute;
    margin: 0;
    color: red;
    font-size: 0.8em;
}

.message {
    background: green;
    display: inline-flex;
    padding: 1em;
}

input[type="button"] {
    margin: 1em 0;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li {
    padding: 0.5em;
}