<!doctype html>
<html>
<head>
    <title>Login form</title>
    {% block stylesheets %}
    <link href="css/main.css" type="text/css" rel="stylesheet" />
    {% endblock %}
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav>
    <ul>
        <li><a href="./">Главная</a></li>
        {% if not auth %}
        <li><a href="./registration">Регистрация</a></li>
        <li><a href="./login">Авторизация</a></li>
        {% else %}
        <li><a href="./login/logout">Выйти</a></li>
        {% endif %}
    </ul>
</nav>
{% if login %}
<p>Hello, {{login}}</p>
{% endif %}
<h1>{{page_title}}</h1>
