<!doctype html>
<html>
<head>
    <title>Login form</title>
    {% block stylesheets %}
    <link href="css/main.css" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="./">Главная</a></li>
        {% if not auth %}
        <li><a href="./registration">Регистрация</a></li>
        <li><a href="./user">Авторизация</a></li>
        {% else %}
        <li><a href="./user/logout">Выйти</a></li>
        {% endif %}
    </ul>
</nav>
<main>
{% if login %}
<p>Hello, {{login}}</p>
{% endif %}
<h1>{{page_title}}</h1>